@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --ba-bg_accent: #00a883;
    --ba-bg: #e2e1dd;
    --ba-fg_accent: #fff;
    --ba-fg: #f1f2f6;
    --ba-alert: #53beec; 
    --ba-text: #546570;
    --ba-bg_user_message: #dcf8c6;

    /* Distanza spaziatura App */
    --ba-vertical-distance: 2rem;
    --ba-orizzontal-distance: 1.5rem;

    /* Grandezza testo */
    --ba-sub_text: 0.75rem;
}
html{
    font-family: 'Open sans', sans-serif;
}
body{
    min-width: 670px;
    height: 100vh;
    background-color: var(--ba-bg);
}
/* Reset Rules */
img{
    display: block;
    max-width: 100%;
}
input{
    border: 0px solid;
    color: currentColor;
    background-color: transparent;
}
i{
    color: currentColor;
}
ul{
    list-style: none;
}
/* Layout */
.container{
    margin: 0 auto;
    max-width: 1100px;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.col{
    display: flex;
    flex-direction: column;
}
/* Compontent */
.green_bar{
    height: 150px;
    background-color: var(--ba-bg_accent);
}
.boolzapp_wrapper{
    height: 100%;
    position: relative;
}
/* Boolzapp */
.boolzapp{
    position: absolute;
    top: var(--ba-vertical-distance);
    left: var(--ba-orizzontal-distance);
    right: var(--ba-orizzontal-distance);
    bottom: var(--ba-vertical-distance);
    
    display: grid;
    grid-template-columns: 5fr 7fr;
    color: var(--ba-text);
    background-color: var(--ba-fg);
}
/* Contact >> Left */
.side-bar > .profile_wrapper{
    align-items: center;
    border-right: 1px solid #ddd;
}
.side-bar .profile_info{
    padding: 0.5rem;
}
.col.profile_info{
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
}
.profile_info > .img_wrapper > .img_profile{
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
    object-position: center;
}
.profile_info > .name_wrapper{
    margin-left: 0.5rem;
}
.col.profile_button{
    margin-left: auto;
    margin-right: 1rem;
    flex-direction: row;
}
.col.profile_button > *{
    cursor: pointer;
    margin: 0 0.5rem;
}
/* Contact >> Search Bar */
.contact_wrapper{
    padding: 0.75rem 0;
}
.contact_wrapper .search-bar_wrapper{
    flex-grow: 1;
    padding: 0.5rem;
    margin: 0 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 0.25rem;
    background-color: var(--ba-fg_accent);
}
.row.search-bar{
    align-items: center;
}
.search-bar_wrapper > .search-bar > i{
    padding: 0 1rem;
}
.search-bar_wrapper > .search-bar > input[type="text"]{
    flex-grow: 1;
    padding: 0 1rem;
    line-height: 1.5rem;
}
/* Contact >> Chat list */
.contact-chats_wrapper{
    flex-grow: 1;
    background-color: var(--ba-fg_accent);
}
.contact-chats_wrapper > .chats_list{
    flex-grow: 1;
}
.chats_list .list_item{
    cursor: pointer;
    padding: 1rem 0.5rem;
    border-top: 1px solid #ddd;
    transition: 300ms ease-in-out;
    border-bottom: 1px solid #ddd;
}
.chats_list .list_item:hover{
    background-color: var(--ba-fg);
}
.img-contact_wrapper > img {
    object-fit: cover;
    aspect-ratio: 1/1;
    border-radius: 50%; 
    object-position: center;
}
.info-contact_wrapper{
    margin-left: 1rem;
}
.info-contact_wrapper .name_contact{
    font-weight: bold;
}
.info_time{
    margin-left: auto;
}
.time,
.info-contact_wrapper .last_mex{
    opacity: 0.6;
    font-size: var(--ba-sub_text);
}
/* Chat >> Chat Bar */
.chat_wrapper{
    display: flex;
    flex-direction: column;
}
.chat_wrapper > .profile-contact_wrapper{
    align-items: center;
    border-right: 1px solid #ddd;
}
.chat_wrapper .profile-contact_info{
    padding: 0.5rem;
}
.col.profile-contact_info{
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
}
.profile-contact_info > .img_wrapper > .img_profile{
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
    object-position: center;
}
.profile-contact_info > .name_wrapper{
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;
}
.profile-contact_info > .name_wrapper > .status{
    font-size: var(--ba-sub_text);
}
.col.profile-contact_button{
    margin-left: auto;
    margin-right: 1rem;
    flex-direction: row;
}
.col.profile-contact_button > *{
    cursor: pointer;
    margin: 0 0.5rem;
}
/* Chat >> Chat messagges */
.chat-content_wrapper{
    padding: 1.5rem 1rem;
    flex-grow: 1;
    background-size: contain;
    background-position: center; 
    background-image: url(../img/mine.jpg);
}
.mesasges_wrapper{
    width: 100%;
}
.messages_list{
    flex-direction: column;
}
.messages_list > .massage_item{
    position: relative;
    padding: 1rem;
    margin: 1rem 0;
    min-width: 150px;
    border-radius: 0.8rem;
    padding-bottom: 1.30rem;
    background-color: var(--ba-fg);
}
.messages_list > .massage_item.user{
    margin-left: auto;
    background-color: var(--ba-bg_user_message);
}
.messages_list > .massage_item.contact{
    margin-right: auto;
}
.massage_item > .message_time{
    font-size: var(--ba-sub_text);
    position: absolute;
    bottom: 0.25rem;
    right: 0.5rem;
}