<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Boolzapp
    </title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
</head>
<body>
    <div class="boolzapp_wrapper" id="app">
        <div class="boolzapp container"> <!-- Contenitore App -->
            <div class="row profile_wrapper"> <!-- Barra Profilo -->
                <div class="col profile_info"> <!-- Info Profilo -->
                    <div class="img_wrapper">
                        <img class="img_profile" height="50" src="./img/profile.JPG" alt="Giusscos">
                    </div>
                    <div class="name_wrapper">
                        <span class="name_profile">
                            Giuseppe
                        </span>
                    </div>
                </div> <!-- Info Profilo Fine -->
                <div class="col profile_button"> <!-- Storie e Impostazioni -->
                    <div class="stories_wrapper">
                        <i class="fa-solid fa-circle-notch"></i>
                    </div>
                    <div class="chat_wrapper">
                        <i class="fa-solid fa-message"></i>
                    </div>
                    <div class="menu_wrapper">
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>
                <div class="col search-bar_wrapper">
                    <div class="row search-bar">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <input type="text" placeholder="Cerca o inizia una nuova Chat">
                    </div>
                </div>
            </div> <!-- Barra Profilo Fine -->
            <div class="row profile-contact_wrapper"> <!-- Barra Profilo Contatto -->
                <div class="col profile-contact_info"
                    v-if="getInfo"
                > <!-- Info Profilo Contatto -->
                    <div class="img_wrapper">
                        <img class="img_profile" height="50" 
                        :src="getInfo.avatar" 
                        :alt="`Immagine profilo di ${getInfo.avatar}`">
                    </div>
                    <div class="name_wrapper">
                        <span class="name_profile">
                            {{ getInfo.name}}
                        </span>
                        <span class="status">
                            Ultimo accesso alle 12:00
                        </span>
                    </div>
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <i class="fa-solid fa-paperclip"></i>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div> <!-- Info Profilo Contatto Fine -->
                <div class="col profile-contact_info"
                    v-else
                > <!-- Info Profilo Contatto -->
                    <div class="img_wrapper">
                    </div>
                    <div class="name_wrapper">
                        <span class="name_profile">
                            Seleziona una Chat!
                        </span>
                        <span class="status">
                        </span>
                    </div>
                </div>
            </div> <!-- Barra Profilo Contatto Fine -->
            <div class="side-bar">  <!-- Contatti e Profilo -->
                <div class="row contact_wrapper"> <!-- Selezione Contatti -->
                    <div class="row contact-chats_wrapper">
                        <ul class="col chats_list">
                            <li class="row list_item"
                                v-for="(contact, i) in contacts"
                                @click="setChat(i)"
                                :class="contact.visible ? '' : 'active'"
                            >
                                <div class="col img-contact_wrapper">
                                    <img height="50" 
                                    :src="contact.avatar" 
                                    :alt="`Immagine profilo ${contact.name}`"
                                    >
                                </div>
                                <div class="col info-contact_wrapper">
                                    <span class="name_contact">
                                        {{ contact.name }}
                                    </span>
                                    <span class="last_mex">
                                        Ultimo messaggio                                           
                                    </span>
                                </div>
                                <div class="col info_time">
                                    <span class="time">
                                        12:00
                                    </span>
                                </div>
                            </li>
                        </ul> <!-- Lista Chats Fine -->
                    </div>
                </div> <!-- Selezione Contatti Fine -->
            </div> <!-- Contatti e Profilo Fine -->
            <div class="chat_wrapper">
                <div class="row chat-content_wrapper">
                    <div class="col mesasges_wrapper"> <!-- Messaggi Chat -->
                        <ul class="row messages_list">
                            <li class="col massage_item"
                                v-for="chat in getChat"
                                :class="chat.status"
                            >
                                <span class="message_text">
                                    {{ chat.message }}
                                </span>
                                <span class="message_time">
                                    {{ chat.date.split(' ')[1].toString() }}
                                </span>
                            </li>
                        </ul>
                    </div> <!-- Messaggi Chat Fine -->
                </div>
            </div> <!-- Contenitore Chat Fine-->
            <div class="row input-text_wrapper">
                <div class="col input-emoticon_wrapper">
                    <i class="fa-regular fa-face-smile"></i>
                </div>
                <div class="col input-message_wrapper">
                    <input class="input_message" type="text" placeholder="Scrivi un messaggio">
                </div>
                <div class="col input-message-audio_wrapper">
                    <i class="fa-solid fa-microphone"></i>
                </div>
            </div>
        </div> <!-- Contenitore App Fine -->
    </div>
    <script src="./js/app.js"></script>
</body>
</html>